.Contact{
    max-width: 800;
    max-height: 800;
    margin: 40 px;
    padding: 20px;
    border: 5px solid #ddd;
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    padding: 170px;

}
    .h1{
        color:chartreuse;
        font-size: 36px;
    }
    .p{
        font-size: 18px;
        color: #a94681;
        
    }